SampleMvcWcfClient/Connected Services/myServices/SampleWcfLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleWcfLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleWcfLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TravelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfTravel" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="TravelId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelInfo" nillable="true" type="tns:TravelInfo" />
  <xs:complexType name="ArrayOfTravelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TravelInfo" nillable="true" type="tns:TravelInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravelInfo" nillable="true" type="tns:ArrayOfTravelInfo" />
</xs:schema>